# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Node modules
node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

backend/firebase.json

# OS files
.DS_Store
Thumbs.db